

   .project-item {
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  .showMoreBtn{
    border: 1px solid #6d7572;
    background-color: transparent;
    padding: 8px 25px;
    border-radius: 30px;
    color: #7b8983;
  }
  .project-title{
    background: linear-gradient(120deg, #00ff9978, #fbfdff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .project-image {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;





  }
  
  .project-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .project-description {
    font-size: 0.9rem;
    color: #555;
  }
  
  .project-item i {
    color: #00ff99;
    transition: color 0.3s;
  }
  
  .project-item i:hover {
    color: #0056b3;
  }
  
  .btn {
    font-size: 0.85rem;
  }
  